html,
body {
  width: 100%;
  height: 100%;
  font-family: Source Sans Pro, sans-serif;
}
nav ul {
    list-style-type: none;
    float: right;
    padding: 1rem;
}
nav li {
    display: inline-block;
    padding: 0.75rem;
}
li a img {
    height: 3rem;
}
h1 {
    color: #222;
    font-weight: 600;
}
p {
  font-size: 2.5rem;
  color: #666;
}
a.rb-btn,
a.rb-btn:visited {
  color: #dd4b39;
  font-size: 2.5rem;
  padding: 1.25rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #dd4b39;
  transition: background-color 0.5s ease-out;
}
a.rb-btn:hover {
  background-color: #dd4b39;
  color: white;
  border-color: #dd4b39;
  transition: background-color 0.5s ease-out;
}

.rb-full-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
    .rb-full-page {
	display: block;
    }
}


.rb-description {
    font-weight: 300;
    color: #333;
}

.rb-light {
    font-weight: 300;
    color: #999;
    font-size: 1.5rem;
    text-transform: uppercase;
}
h3 {
    font-size: 2.5rem;
    font-weight: 400;
}
.rb-address p {
    font-size: 2.25rem;
    font-weight: 300;
}
.rb-animation {
  position: relative;
}
.row {
  width: 100%;
}
.rb-animated-content {
  overflow: hidden;
  font-size: 4rem;
  line-height: 5rem;
}
.content__container {
  overflow: hidden;
  height: 5rem;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
  font-size: 4rem;
  color: #dd4b39;
}
.content__container__list {
  margin-top: 0;
  padding-left: 130px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 5rem;
  margin: 0;
}

@-webkit-keyframes change {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
}
@-o-keyframes change {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
}
@-moz-keyframes change {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
}
@keyframes change {
  0%, 62.5% {
    transform: translate3d(0, 0, 0);
  }
  12.5%, 50% {
    transform: translate3d(0, -50%, 0);
  }
}
