<nav class="rb-hamburger-clickable-area sm:text-right block container m-auto text-gray-500 sm:p-4">
  <input class="p-4 rb-menu-btn" aria-label="Menu" name="menu-drawer" type="checkbox" />
  <div class="not-sr-only rb-hamburger-icon"><div class="rb-line"/></div></div>
  <ul class="rb-menu">
  {% for item in site.data.navigation %}
  {% if page.url != "/" or item.link != "/" %}
    <li class="block sm:inline-block hover:text-gray-700">
      <a class="my-1 py-1 md:inline-block block px-4 text-xl sm:text-base"
	 href="{{ item.link }}"
	 {% if page.url == item.link %}
	 style="color: #dd4b39;"
	 {% endif %}>
	{{ item.name }}
      </a>
    </li>
  {% endif %}
  {% endfor %}
  </ul>
</nav>



